body{
    background: white;
}
/* used to set a different logo */
.nav-bar__logo img {
    content: url(https://deftdot.github.io/argovcd/zohar.jpeg);
}
.top-bar{
    background: #232222;
}
.top-bar__breadcrumbs{
    color: white;
}
.filters-group__panel{
    background-color: black;
    color: white;
}
.filter{
    background-color: #232222;
    color: white;
}
.filter__item{
    background-color: #232222;
    color: white;
}
.applications-list__entry{
    background: #232222;
    color: white;
}

.nav-bar__logo img {
    content: url(https://deftdot.github.io/argovcd/zohar.jpeg);
}
.sidebar__logo img { 
    content: url(https://deftdot.github.io/argovcd/zohar.jpeg);
}

.sidebar__logo {
  font-size: 0;
}
.sidebar__logo:after {
  font-size: 1rem;
  content: 'Argov CD';
}
